<div class="d-flex">
    <%= button_to mark_as_approved_article_comment_path(comment.article,comment), :class => "btn btn-success me-1" do %>
        <i class="bi bi-check-lg"></i>
    <% end %>
    <%= button_to mark_as_rejected_article_comment_path(comment.article, comment), :class => "btn btn-danger" do %>
        <i class="bi bi-x-lg"></i>
    <% end %>
</div>