<%= form_with model: [ article, comment ] do |form| %>
    <div class="d-flex">
        <%= form.text_area :body, class: "form-control comment-textarea", rows: 1, placeholder: t("comment_form.type_comment") %>
        <%= button_tag(type: 'submit', class: 'btn btn-primary comment-send-button') do %>
            <i class="bi bi-send-fill"></i>
        <% end %>
    </div>
<% end %>