<div class="row">
    <div class="offset-3 col-6">
        <h3 class="mb-3"><%= t("comment_edit.title")%></h3>
        <%= render partial: "comments/form", locals: { article: @article, comment: @comment } %>
    </div>
</div>