<footer class="bg-primary text-center text-lg-start text-white" style="margin-top: 300px">
    <div class="container p-4">
      <div class="row my-4">
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

          <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 150px; height: 150px;">
            <img src="/assets/profile.jpeg" height="150px" alt="" loading="lazy" class="rounded-circle" />
          </div>

          <p class="text-center">Muhammed Furkan GÜLER</p>

          <ul class="list-unstyled d-flex flex-row justify-content-center">
            <li>
              <a class="text-white px-2" href="https://www.instagram.com/thenqlv/">
                <i class="bi bi-instagram"></i>
              </a>
            </li>
            <li>
              <a class="text-white px-2" href="https://github.com/mfglr">
                <i class="bi bi-github"></i>
              </a>
            </li>
          </ul>

        </div>
       
      </div>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2024 Copyright:
      <a class="text-white" href="https://github.com/mfglr">https://github.com/mfglr</a>
    </div>
  </footer>