<div class="container mb-5">

    <% if notice.present? %>
        <div class="bg-success text-center p-2 mb-2">
            <span><%= notice %></span>
        </div>
    <% end %>

    <% if alert.present? %>
        <div class="bg-danger text-center p-2 mb-2">
            <span><%= alert %></span>
        </div>
    <% end %>

</div>